<div class="text-center">
  <h2>{{book_title}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{book_genre}}</p>
  <p>Written by {{book_author}} on {{format_date date_published}}</p>

  <p>
  <ul>
    {{#each Reviews as |review| }}
    <li>
      {{review.review}} by {{review.User.first_name}}
    </li>
    {{/each}}
  </ul>

  <form class="form new-review-form">
    <input class="form-input" type="hidden" id="post-id" title="post-id" hidden value="{{id}}" />
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Add Review</button>
    </div>
  </form>
  </p>
</div>

<script src="/js/review.js"></script>