<div class="text-center">
  <h2>{{book_title}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{book_genre}}</p>
  <p>Written by {{book_author}} on {{format_date date_published}}</p>
  <p>
    <span for="img" aria-label="book">📚</span>
    <span class="dollar-amount">{{format_amount pages}}</span>
    pages
  </p>
  <p>
    <button class="btn btn-primary">The Book Blog</button>
  </p>
</div>
