<div class="text-center">
  <h2>Welcome to the Library!</h2>
  <h3>Select a genre:</h3>

  <div class="dropdown">
    <button onclick="myFunction()" "dropbtn">Genre</button>
    <div class="dropdown-content" id="myDropdown">
      <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
      <a class="dropdown-item" href="/genre/Romance">Romance</a>
      <a class="dropdown-item" href="/genre/Adventure">Adventure</a>
      <a class="dropdown-item" href="/genre/Classic">Classic</a>
      <a class="dropdown-item" href="/genre/Dystopian">Dystopian</a>
      <a class="dropdown-item" href="/genre/Fiction">Fiction</a>
      <a class="dropdown-item" href="/genre/Coming-of-Age">Coming-of-Age</a>
      <a class="dropdown-item" href="/genre/Fantasy">Fantasy</a>
      <a class="dropdown-item" href="/genre/Modernist">Modernist</a>
      <a class="dropdown-item" href="/genre/Magical-Realism">Magical Realism</a>
      <a class="dropdown-item" href="/genre/Epic-Poetry">Epic Poetry</a>
      <a class="dropdown-item" href="/genre/Gothic-Fiction">Gothic Fiction</a>
      <a class="dropdown-item" href="/genre/Science-Fiction">Science Fiction</a>
      <a class="dropdown-item" href="/genre/Gothic-Science-Fiction">Gothic Science Fiction</a>
      <a class="dropdown-item" href="/genre/Historical-Fiction">Historical Fiction</a>
      <a class="dropdown-item" href="/genre/Post-Apocalyptic">Post-Apocalyptic</a>
    </div>
  </div>
  <h2 class="text-white">Books in Selected Genre</h2>
  <div class="filtered-books">
    {{#each books}}
    <div class="text-white">
      <h3>{{title}}</h3>
      <p>Author: {{author}}</p>
      <p>Genre: {{genre}}</p>
      <!-- Display other book details as needed -->
      <button class="btn btn-primary add-book" data-id="{{id}}">Add</button>
    </div>
    {{/each}}
  </div>

  <div class="col-md-6 book-list">
    <h3>Books to Read:</h3>

    {{#each readNextBooks as |book|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/book/{{book.id}}">{{book.title}}</a> by {{book.author}}</h4>
        <p>Genre: {{book.genre}}</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{book.id}}">REMOVE</button>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script src="/js/genre.js"></script>
<script src="/js/profile.js"></script>