<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3 class="text-white">Select a Genre:</h3>

    <div class="dropdown-container">
      <button onclick="dropMenu()" class="dropbtn">Genre</button>
      <div class="dropdown-menu" id="dropdown">
        <a class="dropdown-item" href="/genre/Romance">Romance</a>
        <a class="dropdown-item" href="/genre/Adventure">Adventure</a>
        <a class="dropdown-item" href="/genre/Classic">Classic</a>
        <a class="dropdown-item" href="/genre/Dystopian">Dystopian</a>
        <a class="dropdown-item" href="/genre/Fiction">Fiction</a>
        <!-- Add more genres as needed -->
      </div>
    </div>

    <div>
      <h2 class="text-white">Books in Selected Genre</h2>
      {{#each books}}
      <div class="text-white">
        <h3>{{title}}</h3>
        <p>Author: {{author}}</p>
        <p>Genre: {{genre}}</p>
        <!-- Display other book details as needed -->
        <button class="btn btn-primary add-book" data-id="{{id}}">Add</button>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="col-md-6 book-list">
  <h3 class="text-white">Books to Read:</h3>

  {{#each userBooks as |book|}}
  <div class="row mb-2">
    <div class="col-md-8">
      <h4><a href="/book/{{book.id}}">{{book.title}}</a> by {{book.author}}</h4>
      <p>Genre: {{book.genre}}</p>
    </div>
    <div class="col-md-4">
      <button class="btn btn-sm btn-danger" data-id="{{book.id}}">REMOVE</button>
    </div>
  </div>
  {{/each}}
</div>
</div>

<script src="./js/profile.js"></script>
